@import "tailwindcss";
@plugin "daisyui";


@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 200% 50%; }
}

.animate-gradient-move {
  background-size: 200% 200%;
  animation: gradientMove 6s linear infinite;
}
